{% extends 'base.html' %}

{%load static %}
<link rel="icon" type="image/x-icon" href="{% static 'assets/img/illustrations/favicon.png'%}" />

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
<p>Aún no estás logueado</p>
<a href="{% url 'login' %}">Log In</a> 

<br>

<a href="accounts/password_reset/">Reset Password</a>
{% endif %}


{% endblock %}